body{
 background-color: slategrey;
}
#take_picture{
    background-color: darkgray;
    border-radius: 20px;
    border-color: rgb(59, 59, 59);
    width: 120px;
    height: 40px;
}
#identify{
    background-color:darkslategray;
    border-radius: 20px;
    border-color:rgb(17, 27, 27);
    color:cadetblue;
    width: 160px;
    height: 40px;
}